*.swp
/tmp/
/.apt_generated/
/local.properties
/nbandroid/private.properties
/market/
/proguard.cfg
/project.properties
/ant.properties
/build.properties
/default.properties
/nbandroid/
/build.xml
/proguard-project.txt
/out/
/build/
/.nb-gradle/
/.gradle/
/bin/
/gen/
/.idea/
/private/
/graphics/