*.swp
/tmp/
/.apt_generated/
/local.properties
/nbandroid/private.properties
/market/
/proguard.cfg
/project.properties
/ant.properties
/build.properties
/default.properties
/nbandroid/
/build.xml
/proguard-project.txt
/out/
/build/
/.nb-gradle/
/.gradle/
/bin/
/gen/
/.idea/
/private/
/graphics/
/ market/banner.jpg
/ market/screenshot3.png
/ market/screenshot4.png
/ market/icon512.png
/ market/screenshot2.png
/ market/feature_graphic.jpg
/ market/screenshot1.png
/ market/xoom.png
/ market/Application-icon.png
/ market/png.desktop
/ market/description.odt