<?xml version="1.0" encoding="utf-8"?>


<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.androidsoft.opendata.remarkabletrees"
          android:versionCode="1"
          android:versionName="1.0">
          
    <uses-sdk android:minSdkVersion="5" android:targetSdkVersion="11" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

          
    <application android:label="@string/app_name" 
                 android:icon="@drawable/icon"
                 android:hardwareAccelerated="true" >
        <uses-library android:required="true" android:name="com.google.android.maps"></uses-library>
            
        <activity android:name=".ui.activity.SplashActivity"
                  android:label="@string/app_name"
                  android:theme="@style/TreeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.DashboardActivity_"
                  android:label="@string/app_name"
                  android:theme="@style/TreeTheme">
            <intent-filter>
                <action android:name="org.androidsoft.opendata.remarkabletrees.ACTION_DASHBOARD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.TreesListActivity"
                  android:label="@string/app_name"
                  android:theme="@style/TreeTheme">
            <intent-filter>
                <action android:name="org.androidsoft.opendata.remarkabletrees.ACTION_LIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.TreesMapActivity"
                  android:label="@string/app_name"
                  android:theme="@style/TreeTheme">
            <intent-filter>
                <action android:name="org.androidsoft.opendata.remarkabletrees.ACTION_MAP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.TreesARActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="org.androidsoft.opendata.remarkabletrees.ACTION_AR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.AboutActivity_"
                  android:label="@string/app_name"
                  android:theme="@style/TreeTheme">
            <intent-filter>
                <action android:name="org.androidsoft.opendata.remarkabletrees.ACTION_ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.TreeActivity_"
                  android:label="@string/app_name"
                  android:theme="@style/TreeTheme">
            <intent-filter>
                <action android:name="org.androidsoft.opendata.remarkabletrees.ACTION_ARBRE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>
</manifest>
