<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.androidsoft.opendata.remarkabletrees"
          android:versionCode="7"
          android:versionName="1.1.1"
          android:installLocation="preferExternal" >
          
    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

          
    <application android:label="@string/app_name" 
                 android:icon="@drawable/icon"
                 android:hardwareAccelerated="true" 
                 android:allowBackup="true" >
        <uses-library android:required="true" android:name="com.google.android.maps"></uses-library>
            
        <activity android:name=".ui.activity.SplashActivity"
                  android:label="@string/app_name"
                 android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.DashboardActivity_"
                  android:label="@string/app_name"
                  android:theme="@style/TreeTheme">
            <intent-filter>
                <action android:name="org.androidsoft.opendata.remarkabletrees.ACTION_DASHBOARD" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.TreesListActivity_"
                  android:label="@string/app_name"
                  android:theme="@style/TreeTheme">
            <intent-filter>
                <action android:name="org.androidsoft.opendata.remarkabletrees.ACTION_LIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.TreesMapActivity_"
                  android:label="@string/app_name"
                  android:theme="@style/TreeTheme">
            <intent-filter>
                <action android:name="org.androidsoft.opendata.remarkabletrees.ACTION_MAP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.TreesARActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="org.androidsoft.opendata.remarkabletrees.ACTION_AR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.AboutActivity_"
                  android:label="@string/app_name"
                  android:theme="@style/TreeTheme">
            <intent-filter>
                <action android:name="org.androidsoft.opendata.remarkabletrees.ACTION_ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.TreeActivity_"
                  android:label="@string/app_name"
                  android:theme="@style/TreeTheme">
            <intent-filter>
                <action android:name="org.androidsoft.opendata.remarkabletrees.ACTION_ARBRE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>
</manifest>
